process {
    withName:trimgalore {
        container = 'vibsinglecellnf/trimgalore:trimgalore-0.6.7-cutadapt-4.2'
    }
    withName:genome_index {
        container = 'hd88/bowtie:latest'
    }
    withName:mapping {
        container = 'hd88/bowtie:latest'
    }
    withName:featurecount {
        container = 'hd88/fc:latest'
    }
}
docker {
    enabled = true
}